.version.index /* version checker */
{
	color: #00001E;
	background-color: #23282B;
}

.html
{
	background-color: #FFFFFF;
	background: #FFFFFF url("../images/background.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 1050px;
	min-height: 702px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u77
{
	z-index: 2;
	width: 1050px;
	padding-bottom: 49px;
}

#u79-4
{
	z-index: 4;
	margin-right: -10000px;
	margin-top: 49px;
	left: 267px;
}

#page_position_content,#pu81
{
	width: 0.01px;
}

#u81
{
	z-index: 8;
	width: 364px;
	height: 535px;
	background-color: #C1DFFF;
	position: relative;
	margin-right: -10000px;
	overflow: auto;
}
/*
#my_map
{
	z-index: 9;
	width: 686px;
	height: 535px;
	background-color: #DCE3FF;
	position: relative;
	margin-right: -10000px;
	left: 364px;
}*/

/*add*/
#u83
{
	z-index: 9;
	width: 686px;
	background-color: #DCE3FF;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 364px;
}

#menuu139
{
	z-index: 10;
	width: 686px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u147
{
	width: 135px;
	min-height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#route1
{
	width: 135px;
	background-color: #C4C4C4;
	padding-bottom: 28px;
	position: relative;
}

#u152-4
{
	width: 135px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	left: 0px;
}

#route1:hover #u152-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 135px;
	margin: 0px -10000px 0px 0px;
}

#route1:active #u152-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 135px;
	margin: 0px -10000px 0px 0px;
}

#route1.MuseMenuActive #u152-4 p
{
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u140
{
	width: 135px;
	min-height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 137px;
}

#route2
{
	width: 135px;
	background-color: #C4C4C4;
	padding-bottom: 28px;
	position: relative;
}

#route1.MuseMenuActive,#route2:hover
{
	background-color: #999999;
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#route2:active
{
	background-color: #6B6B6B;
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u146-4
{
	width: 135px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#route1.MuseMenuActive #u152-4,#route2:hover #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 135px;
	margin: 0px -10000px 0px 0px;
}

#route2:active #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 135px;
	margin: 0px -10000px 0px 0px;
}

#route2.MuseMenuActive #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 135px;
	margin: 0px -10000px 0px 0px;
}

#u154
{
	width: 136px;
	min-height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 274px;
}

#route3
{
	width: 136px;
	background-color: #C4C4C4;
	padding-bottom: 28px;
	position: relative;
}

#route3:hover
{
	background-color: #999999;
	width: 136px;
	min-height: 0px;
	margin: 0px;
}

#u158-4
{
	width: 136px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#route3:hover #u158-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#route3:active #u158-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u161
{
	width: 136px;
	min-height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 412px;
}

#clean
{
	width: 136px;
	background-color: #C4C4C4;
	padding-bottom: 28px;
	position: relative;
}

#clean:hover
{
	background-color: #999999;
	width: 136px;
	min-height: 0px;
	margin: 0px;
}

#u163-4
{
	width: 136px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#route3.MuseMenuActive #u158-4,#clean:hover #u163-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#clean:active #u163-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u168
{
	width: 136px;
	min-height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 550px;
}

#timeline
{
	width: 136px;
	background-color: #C4C4C4;
	padding-bottom: 28px;
	position: relative;
}

#timeline:hover
{
	background-color: #999999;
	width: 136px;
	min-height: 0px;
	margin: 0px;
}

#route3:active,#clean:active,#timeline:active
{
	background-color: #6B6B6B;
	width: 136px;
	min-height: 0px;
	margin: 0px;
}

#u170-4
{
	width: 136px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#clean.MuseMenuActive #u163-4,#timeline:hover #u170-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#timeline:active #u170-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#timeline.MuseMenuActive #u170-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#route2.MuseMenuActive #u146-4 p,#route3.MuseMenuActive #u158-4 p,#clean.MuseMenuActive #u163-4 p,#timeline.MuseMenuActive #u170-4 p
{
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#my_map
{
	z-index: 41;
	width: 686px;
	height: 490px;
	
	position: relative;
}

#wordCloud{
	z-index: 41;
	width: 686px;
	height: 490px;
	right:0px;
	top:45px;
	position: absolute;
}
/*add*/

#u78
{
	z-index: 3;
	width: 1050px;
	height: 152px;
}

td#title{
	padding:10px;
}

td.day-type{
	vertical-align: top;
	padding:10px;
}
tr#yesterday-row{
	background: rgba(181, 202, 245, 0.42);
}
tr#today-row{
	background: rgba(74, 100, 245, 0.04);
}
/*
tr:first-child td:first-child { border-top-left-radius: 10px; }
tr:first-child td:last-child { border-top-right-radius: 10px; }
tr:last-child td:first-child { border-bottom-left-radius: 10px; }
tr:last-child td:last-child { border-bottom-right-radius: 10px; }

tr:first-child td{ border-top: 1px solid;}
tr:last-child td{border-bottom: 1px solid;}
tr td:first-child{border-left:1px solid;}
tr td:last-child{border-right:1px solid;}
*/
body
{
	position: relative;
	min-width: 1050px;
}

#page .verticalspacer
{
	clear: both;
}

